{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% include 'shared/_flash.html.twig' %}

    <div class="py-12 my-12 bg-white dark:bg-gray-700">
        <div class="max-w-lg mx-auto px-4 sm:px-6 lg:px-8">

            <h1 class="mt-5 text-5xl dark:text-white text-center">Réinitialisez votre mot de passe</h1>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.password) }}
            <button class="mt-8 text-white dark:text-black bg-gray-800 dark:bg-gray-300 rounded-lg text-lg px-2 py-1"
                    type="submit">Réinitialiser
            </button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}