{% apply inline_css %}
    <style>
        h1 {
            color: #1b748c;
            text-align: center;
            font-family: sans-serif;
        }

        button {
            border: none;
            border-radius: 10px;
            background-color: #252525;
            color: white;
            font-size: 18px;
            padding: 6px 12px;
            margin: 30px auto 0 auto;
            display: block;
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }
    </style>

    <h1>Lien pour réinitialiser votre mot de passe</h1>

    <a href="{{ url('security_password_lost_reset', {'token' : token }) }}">
        <button>Réinitialiser votre mot de passe</button>
    </a>
{% endapply %}