{% extends 'base.html.twig' %}

{% block title %}Snowtricks | Site communautaire de tricks de Snowboard{% endblock %}

{% block body %}

    {% include 'shared/_flash.html.twig' %}

    <h1 class="text-2xl mt-12 mx-auto text-center text-grey-800 dark:text-white">Bienvenue</h1>

    <div class="py-12 my-12 bg-white dark:bg-gray-700">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div id="tricks-container"
                 class="space-y-10 md:space-y-0 md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10 lg:grid-cols-4">
                {% include '_tricks.html.twig' %}
            </div>
            <button id="load-more-tricks-btn"
                    data-current-tricks-nbr="0"
                    class="block mt-12 mx-auto center px-3 py-2 bg-gray-800 dark:bg-gray-100 text-gray-100 dark:text-gray-800 text-xl rounded">
                Voir Plus
            </button>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    {{ encore_entry_script_tags('homepage') }}


{% endblock %}